/* ==UserStyle==
   @name          Simple dark theme - robinwils.com
   @namespace     https://codeberg.org/rmw/robinwils.gitlab.io-stylus-themes/raw/branch/master/themes/simple-dark-theme/simple-dark-theme.user.css
   @description   Official dark theme for robinwils.com
   @author        Robin Wils
   @homepage      https://robinwils.com
   @include       https://robinwils.com*
   @license CC0
   @version 1.1.3
   ==/UserStyle== */

@-moz-document domain("robinwils.com") {
  .link-list a,
  .filter-item {
      background-color: #252525
  }

  body {
      background-color: #343434
  }

  blockquote,
  img,
  .toc,
  video,
  main,
  .article-box,
  #categories-box a,
  #intro-section,
  #social-media-links {
      border-color: #212121
  }

  a,
  .filter-item {
      color: #77A2F2
  }

  a:visited:not(.default-color) {
      color: #AC81E0
  }

  a:hover,
  .filter-item:hover,
  a:visited:hover {
      color: #8080ff
  }

  body {
      color: #c9c8c8
  }

  a[href="#"]:not(.default-color)
  {
      color: #AAA
  }

  img {
      opacity: .6
  }
}
